html,body {
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #000000;
}
.didascalia{
	text-align: center;
	font-size: 10;
}

.headwhite{
	font: bold 18px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #434343;
}


.mesaggio{
	padding: 10px;
	margin-bottom: 10px;
	font: 10px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333333;
}

.mesaggio a, .mesaggio a:visited{
	color: inherit;
	text-decoration: none;
}

.mesaggio a:hover{
	color: #666633;	
}

#mesagesbox{
	position: absolute;
	background: transparent;
	z-index: 9999;
}
#mesages{
	width: 320px;
	height: 200px;
	margin: auto;
	padding: 10px;
	overflow: scroll;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}


/*CHART GENERAL*/
.chart-wrapper{
	margin-left:-.99%;
	width: 102%;
}

/*AXES*/
.axis path, .axis line {
  fill: none;
  stroke: #434343;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: .625em;
  fill: #434343;
}

/*LAYERS*/
.chart .layer {
	cursor: crosshair;
}

/*TIP*/
.tip {
  background-color: hsla(0,0%,100%,.9);
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
	width: 180px;
}
.tip .year {
  font-weight: 900;
  font-size: 1.25em;
  margin-bottom: 2px;
}
.tip .swatch {
  width: 11px;
  height: 11px;
  float: left;
  margin-top: 6px;
  margin-right: 4px;
}

/*LEGEND*/
.legend {
	position: absolute;
	top: 15px;
	left: 30px;
	background-color: hsla(0,0%,100%,.9);
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}
.legend .title {
	margin-bottom: 2px;
	font-weight: 900;
}
.legend .item {
	font-size: .75em;
}
.legend .swatch {
	width: 10px;
	height: 10px;
	margin-top: 3px;
	float: left;
	margin-right: 5px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	/*chart*/
	.chart-wrapper {
		margin-left:-15px;
		margin-right:-15px;
		width: auto;
	}
	.chart-title {
		font-size: 1.4em;
	}

	/*tip*/
	.tip {
		width: 100px;
	}
	.tip .year {
		font-size: 1em;
	}
	.tip .key, .tip .value {
		font-size: .75em;
	}
	.tip .swatch {
		width: 10px;
		height: 10px;
		margin-top: 3.5px;
	}
	.remove {
		display: none;
	}

	/*legend*/
	.legend {
		position: static;
		background-color: #fcfcfc;
	}
	.legend .title {
		display: none;
	}
	.legend .item {
		float:left;
		margin-right:10px;
	}
	.legend .swatch {
		margin-top: 3.5px;
	}

}